body {
	font-family: sans-serif;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, .1);
	padding: 120px 0;
	margin: 0;
	padding-top: 0;
	background-image: linear-gradient(#753a88,#cc2b5e);
}

section{
	width: 500px;
	margin: 4% auto;
	font-family: 'Source Sans Pro',
	sans-serif;
	letter-spacing: 5px;
	font-size: 1.8rem;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.calculator {
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
	border-radius: 1px;
	background-color: #212223;
	height: auto;
}

.input {
	border-radius: 1px;
	background-color: #111;
	color: #ddd;
	height: 100px;
	padding-right: 15px;
	padding-top: 10px;
	text-align: right;
	font-size: 2.5rem;
	overflow-x: auto;
	transition: all .2s ease-in-out;
}

.input:hover {
	-webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.buttons {
	display: flex;
}

.leftPanel {
	flex-basis: 80%;
	margin-top: 4px;
}

.operators {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin-left: -1px;
}

.operators div {
	width: 100%;
	text-align: center;
	color: #fff;
	border-bottom: 1px solid #721691;
	cursor: pointer;
	background-color: #753a88;
	transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.operators div:hover {
	background-color: #721691;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.zero {
	margin-top:4px;
	padding: 10px 0;
}

.one {
	padding: 12px 0;
}

.operators div:active {
	font-weight: bold;
}

.numbers {
	display: flex;
}

.numbers div {
	border: 1px solid #ddd;
	width: 100%;
	padding: 11px 0;
	border-radius: 1px;
	text-align: center;
	cursor: pointer;
	background-color: #f9f9f9;
	transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.numbers div:hover {
	background-color: rgb(255, 166, 0);;
	color: white;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
	border-color: rgb(223, 145, 1);
}

.numbers div:active {
	font-weight: bold;
}

div.equal {
	background-color: rgb(255, 166, 0);
	transition: all .2s ease-in-out;
	color: #FFF;
	cursor: pointer;
	text-align: center;
	border: 1px solid rgb(228, 149, 3);
	border-radius: 1px;
	font-size: 50px;
	margin-right: -2px;
}

div.equal:hover {
	background-color: rgb(241, 159, 5);
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
	border-color: rgb(223, 145, 1);
}

div.equal:active {
	font-weight: bold;
}