:root {
	--color-light: white;
	--color-dark: #212121;
	--color-signal: #fab700;
	--color-background: var(--color-light);
	--color-text: var(--color-dark);
	--color-accent: var(--color-signal);
	--size-bezel: .5rem;
	--size-radius: 4px;
	line-height: 1.4;
	font-family: sans-serif;
	font-size: calc(.6rem + .4vw);
	color: var(--color-text);
	font-weight: 300;
}

body {
	font-family: sans-serif;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, .1);
	padding: 120px 0;
	margin: 0;
	padding-top: 0;
	overflow: hidden;
}

section{
	display: grid;
	place-items: center;
	height: 90vh;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	background-color: white;
	height: 50vh;
	border-radius: 1.125rem;
}

.input {
	position: relative;
	margin: 1rem 0;
	background-color: white;
}

.input__label {
	position: absolute;
	left: 0;
	top: 0;
	padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
	margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
	background: pink;
	white-space: nowrap;
	transform: translate(0, 0);
	transform-origin: 0 0;
	background: var(--color-background);
	transition: transform 120ms ease-in;
	font-weight: bold;
	line-height: 1.2;
}

.input__field {
	box-sizing: border-box;
	display: block;
	width: 100%;
	border: 3px solid currentColor;
	padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
	color: currentColor;
	background: transparent;
	border-radius: var(--size-radius);
}

.input__field:not(:-moz-placeholder-shown)+.input__label {
	transform: translate(0.25rem, -65%) scale(0.8);
	color: var(--color-accent);
}

.input__field:not(:-ms-input-placeholder)+.input__label {
	transform: translate(0.25rem, -65%) scale(0.8);
	color: var(--color-accent);
}

.input__field:focus+.input__label,
.input__field:not(:placeholder-shown)+.input__label {
	transform: translate(0.25rem, -65%) scale(0.8);
	color: var(--color-accent);
}

.input-container{
	display: flex;
	flex-direction: column;
}

.demo{
	margin: 0 0 0 4rem;
	height: 4rem;
	width: 4rem;
	border-radius: 0.25rem;;
	background-color: black;
}