* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(242, 245, 237);
}

.outer-div {
    width: 30%;
    height: 455px;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid rgb(226, 226, 208);
    background-color: rgb(232, 236, 236);
    box-shadow: 3px 3px darkgray;
}

h1 {
    text-align: center;
    font-family: cursive;
}

#circle-div {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 10px dashed rgb(230, 169, 169);
    border-radius: 50%;
    animation: animate 4s linear forwards infinite;
    animation-timing-function: ease-in-out;
}

@keyframes animate {
    0% {
        border-top-color: red;
        border-bottom-color: rgb(230, 169, 169);
        border-left-color: rgb(230, 169, 169);
        border-right-color: rgb(230, 169, 169);
    }

    25% {
        border-top-color: red;
        border-bottom-color: rgb(230, 169, 169);
        border-left-color: rgb(230, 169, 169);
        border-right-color: red;
    }

    50% {
        border-top-color: red;
        border-bottom-color: red;
        border-left-color: rgb(230, 169, 169);
        border-right-color: red;
    }

    100% {
        border-top-color: red;
        border-bottom-color: red;
        border-left-color: red;
        border-right-color: red;
    }
}

#three-display {
    width: 70%;
    height: 55px;
    border: 2px solid rgb(83, 82, 82);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 40%;
}

#minute-counter-box,
#second-counter-box,
#milli-counter-box {
    width: 30%;
    height: 100%;
    font-size: 35px;
    padding: 5px;
    font-weight: bold;
    float: left;
    padding-left: 9px;
}

#colon {
    width: 5%;
    height: 100%;
    padding-top: 3px;
    font-size: 35px;
    font-weight: bold;
    float: left;
}

#div-btns {
    width: 70%;
    height: 60px;
    margin: 0 auto;
    padding: 15px;
}

.btn {
    width: 30%;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 36px;
}

.btn:hover {
    width: 30%;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 40px;
}

.btn:focus {
    width: 30%;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-left: 40px;
}